// font-family
$default-font-family: Georgia, serif;
$table-font-family: sans-serif;

//colors
$rouge: #c05b4d;
$white: #fff;
$alabaster: #fafafa;
$silver: #c2c2c2;
$alto-silver: #d5d5d5;
$mint: #60b044;

//gutter
$gutter-xxsmall: 5px;
$gutter-xsmall: 10px;
$gutter-small: 15px;
$gutter: 20px;

// radius
$default-radius: 3px;
